.button{
    margin-top: 10px;
    height: 58px;
    width:  389px;
    justify-content: center;
    border-radius: 5px;
    outline: none;
    font-family: 'Segoe UI';
    font-style: bold;
    font-size: 27px;
    display: grid;
    overflow: hidden;
    background-color:rgb(255, 179, 35);
    
    
}
